@model IEnumerable<Client>

<div class="container">
    <h1 class="main_title">Client Control</h1>
    <div class="main_button">
        <a asp-controller="Client" asp-action="CreateProduct" class="button_listCreated">Add new Client</a>
    </div>
    <div>
        @ViewData["Title"];
        <div class="main_managementBox">
            <div class="managementBox">
                @foreach (var client in Model)
                {
                    <div class="menagementBox_List">
                        <h4 class="menagementBox_Name">@client.Name</h4>
                        <p class="menagementBox_CPF">Descrição: @client.CPF</p>
                        <p class="menagementBox_email">@client.Email</p>
                        <p class="menagementBox_phoneNumber">@client.CellPhone</p>
                        <p class="menagementBox_street">@client.Street</p>
                        <p class="menagementBox_state">@client.State</p>
                        <p class="menagementBox_city">@client.City</p>
                        <div>
                            <a asp-controller="Client" asp-action="RemoveClient" class="button_removed">Remove </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>